<!DOCTYPE html>
<html lang="ru">
<%- include('../_includes/head'); -%>
	<body>
    <main class="view-main">
      <%- locals.body %>
    </main>
    <%- include('../_includes/scripts'); -%>
  </body>
</html>