<% locals.setLayout('_HTML/src/ejs/_layouts/main.ejs') -%>
<% locals.block('title', 'Главная страница') -%>
<% let data = locals.require('_HTML/src/ejs/_data/index.json') -%>
<% locals.block('template', 'index') -%>

<div class="view-index">

TEST TEMPLATE

</div>